@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.title {
  font-family: "League Spartan", sans-serif;
  font-size: xx-large;
}
.login {
  position: fixed;
  overflow: hidden;

  height: 100%;
  width: 100%;
}
.topbar {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  position: fixed;
  z-index: 50;
  background-color: #c64646;
  min-height: 3rem;
  color: white;
  padding: 10px 20px 0px 10px;
  width: 100vw;
  user-select: none;
  box-shadow: 0px 5px 5px rgba(63, 62, 65, 0.33);
  transition: background-color;
  transition-duration: 2s;
}

.login {
  margin-top: 4rem;
}
.logout:hover {
  color: #6e1111;
}
.topbar h2 {
  margin-top: 0px;
  font-weight: 400;
  color: white;
}

.topbarmol {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: whitesmoke;
  background-color: #c64646;
  height: 50px;
}

.btn.show {
  background-color: #f1e0e0;
  border: none;
}
.btn.show:hover {
  background-color: #f1e0e0;
  border: none;
  color: black;
}
.display {
  margin-top: 50px;
  width: 100vw;
  overflow-x: hidden;
  text-wrap: wrap;
  padding: 15px 60px;
}

.carousel img {
  height: 120vh;
  width: 99vw;
  object-fit: cover;
  border-radius: 10px;
}
.leftbox {
  height: 100vh;
  margin: 13rem auto;
  vertical-align: middle;
}
.leftbox input {
  border-radius: 8px;
  border: solid 1px #a64646;
  width: 70%;
  padding: 3px;
  margin: 3px;
  transition-duration: 0.5s;
}

.leftbox input:focus {
  background: #f1e0e0;
}
.meetlist {
  margin-top: 50px;
}
.meetcard {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 5px 10px;
  width: 250px;
  max-height: fit-content;
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgba(63, 62, 65, 0.26);
}
.smallprint {
  font-size: small;
}
.full {
  opacity: 70%;
}

.author {
  background-color: rgb(238, 252, 217);
}
.inactive {
  background-color: #c8c8c8;
}
.flagged {
  background-color: #9e4b4b;
}
.cardimg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 2px 1px rgba(63, 62, 65, 0.26);
}

.cardtext {
  margin-left: 5px;
  padding: 3px;
  line-height: 5px;
}

.dropdownbtn {
  color: aliceblue;
}

.newmeetbtn {
  font-family: "League Spartan", sans-serif;
  font-size: large;
  padding: 2px 17px;
  position: fixed;
  left: 45%;
  z-index: 50;
  background-color: rgb(255, 152, 152);
  border: white solid 2px;
  color: black;
}

.filterbtn {
  font-family: "League Spartan", sans-serif;
  font-size: large;
  padding: 2px 17px;
  position: fixed;
  right: 15%;
  z-index: 50;
  background-color: rgb(188, 188, 188);
  border: white solid 2px;
  color: black;
}

.capselector {
  width: 25%;
}

.prof {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profilepic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: #c64646;
  border-style: solid;
  border-width: 2px;
}

.smprofilepic {
  margin-top: -4px;
  margin-left: 4px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border: #ffe8e8;
  border-style: solid;
  border-width: 2px;
}
/* ADMIN ROLE */
.admin {
  background-color: #380808;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}
@media (max-width: 676px) {
  .cardimg {
    width: 100%;
    height: 100px;
  }
}
