@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.topbar {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  background-color: #c64646;
  min-height: 3rem;
  color: white;
  padding: 10px 20px 0px 10px;
}

h2 {
  margin-top: 0px;
  font-weight: 400;
}

.display {
  max-width: 100vw;
  overflow-x: hidden;
  text-wrap: wrap;
}
